# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# IDE folders
.idea/
.vscode/

# Streamlit secrets only
.streamlit/secrets.toml

# Temporary files
*.log

# Large model artifacts
*.pkl